<div class="row-fluid">
  <div class="widget_container">
    <div class="well">
      <h1>Editing category</h1>
      <%= render 'form' %>
      <%= link_to 'Show', @category %> |
      <%= link_to 'Back', categories_path %>
    </div>
  </div>
</div>
