<!-- sidebar -->
    <div id="sidebar" class="span2">			
      <div class="accordion custom-acc" id="accordionSB">

        <div class="accordion-group fs">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#dashboardsb">
              <i class="icon-large icon-th-large head_icon"></i> Dashboard
            </a>
          </div>
          <div id="dashboardsb" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="nav nav-list">
                <li class="active"><a href="/"><i class="icon-large icon-th"></i> Dashboard</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#articlesb">
              <i class="icon-large icon-th-large head_icon"></i> Articles
            </a>
          </div>
          <div id="articlesb" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="nav nav-list">
                <li><a href="/articles"><i class="icon-large icon-th"></i> List</a></li>
                <li><a href="/articles/new"><i class="icon-large icon-th"></i> Add New</a></li>
                <li><a href="/categories"><i class="icon-large icon-th"></i> Categories</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#commentsb">
              <i class="icon-large icon-th-large head_icon"></i> Comments
            </a>
          </div>
          <div id="commentsb" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="nav nav-list">
                <li><a href="/comments"><i class="icon-large icon-th"></i> Comments</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div><!-- sidebar -->
