<!-- sidebar -->
<div id="sidebar" class="span2">			
  <div class="accordion custom-acc" id="accordionSB">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#tagsb">
          <i class="icon-large icon-th-large head_icon"></i> Tag
        </a>
      </div>
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><a href="/tags"><i class="icon-large icon-th"></i>List </a></li>
        </ul>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#articlesb">
          <i class="icon-large icon-th-large head_icon"></i> 文章 
        </a>
      </div>
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><a href="/articles"><i class="icon-large icon-th"></i>列表</a></li>
          <li><a href="/comments"><i class="icon-large icon-th"></i>评论列表</a></li>
          <li><a href="/articles/new"><i class="icon-large icon-th"></i>添加</a></li>
          <li><a href="/categories"><i class="icon-large icon-th"></i>分类</a></li>
        </ul>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#locationsb">
          <i class="icon-large icon-th-large head_icon"></i> 地理信息
        </a>
      </div>
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><a href="/locations"><i class="icon-large icon-th"></i> 列表</a></li>
          <li><a href="/locations/new"><i class="icon-large icon-th"></i> 新增</a></li>
        </ul>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#commentsb">
          <i class="icon-large icon-th-large head_icon"></i>  安全测验题
        </a>
      </div>
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><a href="/questions/new"><i class="icon-large icon-th"></i> 新增 </a></li>
          <li><a href="/questions"><i class="icon-large icon-th"></i> 列表 </a></li>
        </ul>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionSB" href="#commentsb">
          <i class="icon-large icon-th-large head_icon"></i>  宝宝安全卡
        </a>
      </div>
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><a href="/babycards/new"><i class="icon-large icon-th"></i> 新增 </a></li>
          <li><a href="/babycards"><i class="icon-large icon-th"></i> 列表 </a></li>
        </ul>
      </div>
    </div>


  </div>
</div><!-- sidebar -->
